@import "../../../styles/variables.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .cross {
    display: none;
  }
  .cross-block {
    display: flex;
  }

  @media (min-width: $sm-breakpoint) {
    .cross,
    .cross-block {
      display: none;
    }
  }

  .cross-active {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $color-off-white;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
    }
    @media (min-width: $sm-breakpoint) {
      .modal {
        display: none;
      }
    }
    .nav-links {
      width: 100%;
      text-decoration: none;
      margin-left: 20px;
      margin-top: 5px;
      .nav-link {
        margin-top: 30px;
        .nav-item {
          text-decoration: none;
          color: $color-very-dark-blue;
          font-weight: $font-600;
        }
      }
    }
  }

  .menu-desktop {
    display: none;
    @media (min-width: $sm-breakpoint) {
      width: 100%;
      display: flex;
      .nav-links {
        display: flex;
        margin-left: auto;
        .nav-link {
          margin-left: 20px;
          .nav-item {
            text-decoration: none;
            color: $color-very-dark-blue;
          }
        }
      }
    }
  }
}
